.button:hover {
    -fx-scale-y: 1.1;
   }
.button:pressed {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}
.button{
	 -fx-background-color: 
        	#FFF0F5,
        linear-gradient(#38424b 0%, 	#FFF0F5 20%, #191d22 100%),
        linear-gradient(	#FFF0F5, 	#FFF0F5),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 7,7,7,7;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
    -fx-border-color : silver;
    -fx-border-radius :7,7,7,7;
    
    
}
.button:Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.9) , 1, 0.0 , 0 , 1 );
}
