#fill {
    -fx-background-image: url("fill.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#stroke{
-fx-background-image: url("stroke.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#move{
-fx-background-image: url("move.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

}
#resize{
	-fx-background-image: url("resize.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#apply{
	-fx-background-image: url("agree.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
  -fx-background-color: 
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;

}
#confirm{
	-fx-background-color: 
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
	
}
#delete{
	-fx-background-image: url("garbage.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
	 -fx-background-color: 
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
	
}
#box{
	-fx-background-color:linear-gradient(to right, #f7971e, #ffd200);
}
#toolbar{
-fx-background-color:linear-gradient(to right, #fceabb, #f8b500);

}

